version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.0.1
    container_name: keycloak
    ports:
      - "8180:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./bank-realm-config.json:/opt/keycloak/data/import/bank-realm-config.json
    command:
      - start-dev --import-realm