server:
  port: 8090

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/bank
      client:
        registration:
          keycloak:
            client-id: bank-accounts-service
            client-secret: accounts-service-secret
            authorization-grant-type: client_credentials
            scope: openid
        provider:
          keycloak:
            token-uri: http://localhost:8180/realms/bank/protocol/openid-connect/token