server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false  # Не регистрируем Eureka Server как клиент
    fetchRegistry: false       # Не получаем реестр
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    waitTimeInMsWhenSyncEmpty: 0
    enable-self-preservation: false

spring:
  application:
    name: eureka-server

logging:
  level:
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG